{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Easy Appoint</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" crossorigin="anonymous">

    <!-- Your Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{% static 'date/jquery.timepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'date/bootstrap-datepicker.css' %}" />

</head>
<body class="login">

    {% block body %}
    {% endblock %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <!-- Datepicker JS -->
    <script src="{% static 'date/jquery.timepicker.js' %}"></script>
    <script src="{% static 'date/bootstrap-datepicker.js' %}"></script>

    <!-- Datepair JS -->
    <script src="http://jonthornton.github.io/Datepair.js/dist/datepair.js"></script>
    <script src="http://jonthornton.github.io/Datepair.js/dist/jquery.datepair.js"></script>

</body>
</html>
